<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test BaigiamasisPostimages" >
    <test name="postimagesOrg">
        <classes>
            <class name="postimagesOrg.pom.tests.postimages.LogInTest"/>
            <class name="postimagesOrg.pom.tests.postimages.UploadImageTest"/>
            <class name="postimagesOrg.pom.tests.postimages.UploadByUrlTest"/>
            <class name="postimagesOrg.pom.tests.postimages.DeleteImageTest"/>
            <class name="postimagesOrg.pom.tests.postimages.LogOutTest"/>
        </classes>
    </test>
</suite>
